<div id="app">
  <nav class="navbar navbar-expand-md navbar-light bg-white shadow-sm">
      <div class="container">
          <a class="navbar-brand" href="" >
          E-Commerace
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="">
              <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                  <li class="nav-item">
                      <a class="nav-link active" href="" style="font-weight: bold;">Home</a>
                  </li>
              </ul>
            </div>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <!-- Left Side Of Navbar -->
              <ul class="navbar-nav me-auto">
             
              </ul>

              <!-- Right Side Of Navbar -->
              <ul class="navbar-nav ms-auto">
                  <!-- Authentication Links -->

                          <li class="nav-item">
                              <a class="nav-link" href="">Login</a>
                          </li>

                          <li class="nav-item">
                              <a class="nav-link" href="">Register</a>
                          </li>



              </ul>
          </div>
      </div>
  </nav>

  <main class="py-4">
  </main>
</div>
