<div id="app">
  <nav
    class="navbar navbar-expand-md navbar-light shadow-sm"
    style="background-color: whitesmoke; height: 75px"
  >
    <div class="container">
      <a class="navbar-brand fw-bold" href=""> E-Commerce </a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-left: 150px">
            <a class="text-decoration-none text-dark"routerLink="/home">Home</a>
          </li>
          <li class="nav-item" style="margin-left: 150px">
            <a routerLink="/products" class="text-decoration-none text-dark">Products</a>
          </li>
          <li class="nav-item" style="margin-left: 150px">
            <a routerLink="/products" class="text-decoration-none text-dark" >Add Product</a>
          </li>
          <li class="nav-item" style="margin-left: 150px">
            <a class="text-decoration-none text-dark" routerLink="/about">About</a>
          </li>
          <li class="nav-item" style="margin-left: 150px">
            <a class="text-decoration-none text-dark" routerLink="/contactus">Contact US</a>
          </li>
        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button style="border: none" routerLink="cart">
              <i style="font-size: 30px" class="fa fa-cart-plus"></i>

              <div style="font-size: 10px" class="badge bg-danger">
                {{ totalItem }}
              </div>
            </button>
          </li>
          <!-- Authentication Links -->
          <a
            *ngIf="!isAuthenticated()"
            class="auth-modal-toggle btn btn-primary ms-2 me-1"
            data-auth-modal-tab="sign-in"
            (click)="open(mymodal)"
            >Login</a
          >
          <li *ngIf="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <main class="py-4"></main>
</div>

<!-- /////////////////////////////////////////////////  -->
<ng-template #mymodal let-modal>
  <!--Content-->
  <div class="modal-content" style="height: 75vh; overflow: auto">
    <!--Modal cascading tabs-->
    <div class="modal-c-tabs">
      <!-- Nav tabs -->
      <!-- Template code -->

      <ul class="nav nav-tabs md-tabs nav-justified" role="tablist">
        <li class="nav-item waves-effect waves-light fs-5">
          <a
            class="nav-link"
            [ngClass]="{ active: activePanel === 'panel1' }"
            data-toggle="tab"
            href="#panel1"
            role="tab"
            (click)="showPanel1()"
            ><i class="fas fa-user mr-1"></i> Login</a
          >
        </li>
        <li class="nav-item waves-effect waves-light fs-5">
          <a
            class="nav-link"
            [ngClass]="{ active: activePanel === 'panel2' }"
            data-toggle="tab"
            href="#panel2"
            role="tab"
            (click)="showPanel2()"
            ><i class="fas fa-user-plus mr-1"></i> Register</a
          >
        </li>
      </ul>

      <!-- Tab panels -->
      <div class="tab-content">
        <div *ngIf="panel1">
          <!--Panel 1-->
          <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
            <!--Body-->
            <form
              class="modal-body"
              (ngSubmit)="loginUser(email.value, password.value)"
            >
              <div class="md-form form-sm mb-5">
                <h3
                  class="text-center m-4 welcome"
                  style="font-family: cursive"
                >
                  Hi <i class="fas fa-hand-sparkles hand"></i>, Welcome Back
                </h3>
              </div>
              <div class="md-form form-sm mb-5">
                <label
                  data-error="wrong"
                  data-success="right"
                  for="modalLRInput6"
                  style="font-size: 20px; margin-bottom: 0.5rem"
                  >Your email</label
                >
                <div class="d-flex">
                  <i
                    class="fas fa-envelope prefix mt-2"
                    style="font-size: 20px"
                  ></i>
                  <input
                    type="email"
                    id="modalLRInput6"
                    name="email"
                    #email
                    placeholder="enter your email address"
                    class="form-control form-control-sm validate custom-border-bottom"
                  />
                </div>
              </div>

              <div class="md-form form-sm mb-4">
                <label>Your password</label
                >
                <div class="d-flex">
                  <i  class="fas fa-lock prefix mt-2"  style="font-size: 20px" ></i>
                  <input  type="password" name="password"  #password placeholder="enter your password"
                    class="form-control form-control-sm validate custom-border-bottom" />
                </div>
              </div>
              <p class="error">{{loginerror}}</p>
              <div class="text-center mt-5">
                <button type="submit" class="btn btn-info waves-effect waves-light fs-5"> Log in <i class="fas fa-sign-in ml-1"></i>
                </button>
              </div>
            </form>
            <!--Footer-->
            <!-- <div class="modal-footer display-footer">

            </div> -->
          </div>
          <!--/.Panel 1-->

          <!--Panel 2-->
        </div>
      </div>
      <div *ngIf="panel2">
        <!--/.Panel 2-->
        <div class="tab-pane fade active show" id="panel2" role="tabpanel">
          <!--Body-->
          <form  class="modal-body" enctype="multipart/form-data" (ngSubmit)="
              AddUser(
                username.value,
                email.value,
                password.value,
                repasword.value,
                image,
                maleRadio.checked ? 'male' : 'female')">
          <div class="md-form form-sm mb-5">
              <h3 class="text-center m-4 welcome" style="font-family: cursive">
                Hi Dear <i class="fas fa-star star"></i>, We are glad you joined us
              </h3>
              <label>Username</label>
              <div class="d-flex">
                <i class="fas fa-user prefix mt-2" style="font-size: 20px"></i>
                <input type="email" class="form-control form-control-sm validate custom-border-bottom" placeholder="enter a username"  name="username" #username/>
              </div>
              <p class="error">{{usernameerrormessage}}</p>
            </div>
            <div class="md-form form-sm mb-5">
              <label>Your email</label>
              <div class="d-flex">
                <i class="fas fa-envelope prefix mt-2"  style="font-size: 20px" ></i>
                <input type="email" class="form-control form-control-sm custom-border-bottom"  placeholder="enter your email address"  name="email" #email/>
              </div>
            </div>
            <p class="error">{{emailerrormessage}}</p>

            <div class="md-form form-sm mb-5">
              <label>Your password</label>
              <div class="d-flex">
                <i class="fas fa-lock prefix mt-2" style="font-size: 20px"></i>
                <input type="password" class="form-control form-control-sm custom-border-bottom" placeholder="enter a strong password" name="password"  #password/>
              </div>
            </div>

            <div class="md-form form-sm mb-4">
              <label>Repeat password</label >
              <div class="d-flex">
                <i class="fas fa-lock prefix mt-2" style="font-size: 20px"></i>
                <input type="password" class="form-control form-control-sm custom-border-bottom" placeholder="repeat the previous password" name="repassword" #repasword/>
              </div>
            </div>
            <p class="error">{{repassworderror}}</p>
          <div>
            <input type="file" name="image"  #image>
          </div>
            <i class="fas fa-users prefix mt-2" style="font-size: 20px"></i>
            <label>Gender:</label><br />
            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" value="male" #maleRadio/>
              <label class="form-check-label" for="male">Male</label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="radio" name="gender" value="female" #femaleRadio/>
              <label class="form-check-label" for="female">Female</label>
            </div>
            <p class="error">{{fieldsRequired}}</p>
            <div class="text-center form-sm mt-2">
              <button class="btn btn-info waves-effect waves-light fs-5" type="submit">Sign up <i class="fas fa-sign-in ml-1"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!--/.Content-->
</ng-template>
