@import '~@fortawesome/fontawesome-free/css/all.min.css';



.nav-item4, .nav-item1, .nav-item5 ,.nav-item6{
  cursor: pointer;
}
.modal-content {
  overflow-x: hidden;
  max-width: 90%;
  width: 100%;
  height: 500px;
  margin: 0 auto;
}
.navbar-collapse {
  overflow: visible !important;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
  .modal-content {
    max-width: 100%;
    height: 100%;
    margin: 0;
  }
}
.nav-item4{
  color:#999;
  background:rgba(255, 255, 255, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  /* box-shadow: 2px 2px 2px rgba(230, 229, 229, 0.8) */

}
.nav-item4:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#edd375;
  /* padding:10px 20px; */
  color:black;
  box-shadow: 2px 2px 4px rgba(182, 178, 178, 0.4)
}
.nav-item5{
  color:#999;
  background:rgba(255, 255, 255, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  /* box-shadow: 2px 2px 2px rgba(230, 229, 229, 0.8) */

}
.nav-item5:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#edd375;
  /* padding:10px 20px; */
  color:black;

}

.nav-item6{
  color:#999;
  background:rgba(255, 255, 255, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  /* box-shadow: 2px 2px 2px rgba(230, 229, 229, 0.8) */

}
.nav-item6:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#edd375;
  /* padding:10px 20px; */
  color:black;

}
.nav-item1{
  color:#999;
  background:rgba(255, 255, 255, 0.5);
  padding:10px 20px;
  font-size:12px;
  text-decoration:none;
  letter-spacing:2px;
  text-transform:uppercase;
  /* box-shadow: 2px 2px 2px rgba(230, 229, 229, 0.8) */

}
.nav-item1:hover{
  border:none;
  background:rgba(0, 0, 0, 0.4);
  background:#edd375;
  /* padding:10px 20px; */
  color:black;

}
.nav-link3{
  border: none;
padding: 10px;
padding-top: 7px;
  color: #d6b212;
}



.search-icon {
  position: absolute;
  z-index: 10;
  right: 50%;
  top: 20px;
  color: #0a2956!important

}

/* for login and register */
.custom-border-bottom{
  border: none;
  border-bottom: 2px solid #ced4da;
}
label{
  font-size: 20px;
  margin-bottom: 0.5rem;
  font-family: monospace ;
}


.welcome{
  animation-name: welcome;
  animation-duration: 3s;
  animation-iteration-count: 3;
  color: #9f840c;
}

@media (width:500px){
.nav-item1:hover{

background-color: white;


}
.nav-item1{
  background-color: white;
}
.nav-item4{

padding-right: 400px;
background-color: white;
}

.nav-item4:hover{
  background-color: white;


}
.nav-item5{
  background-color: white;
  margin-right: 30px;
}

.nav-item5:hover{
  background-color: white;
}
.nav-item6{
  background-color: white;
  padding-left: 30px;
}
.nav-item6:hover{
  background-color: white;
}
}
@keyframes welcome {
    50% {
      font-style: italic;
      color:#f4e9e9;
      transform: translate(0px, 8px);
  }
}
.hand{
  color:rgb(62, 134, 170);
}

.error{
  color:red;
  text-align: center;
  font-weight: bold;
}


.card{
  margin-bottom:20px;
  border:none;

}

.modal-content {

  width: 450px;
  background-color: #ffffff;
  border: none;
}
.modal-content  form{
  text-align: center;
  width: 100%;
  padding: 20px;
  position: absolute;
  transition: 0.25s;
}
.form-check{
  color: rgb(0, 0, 0);
    font-size: 20px;
    /* margin-right: 10%; */
    margin-left: 37%;
    display: flex;
    gap: 20px;

}


.box input[type="email"],
.box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 10px 10px;
  width: 250px;
  outline: none;
  color: rgb(0, 0, 0);
  border-radius: 24px;
  transition: 0.25s
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
    width: 300px;
    border-color: #2ecc71
}

.btnn{
  border: none;
  margin-top: 3%;
  height: 40px;
  color:  #b99609;
  border: 1px solid #b99609;
  background-color:white;
  width: 40%;

}

.btnn:hover{
  box-shadow: 0 2px 4px rgba(255, 250, 250, 0.922);
  color: white;
  background-color: #b99609;
  border: 1px solid white;

}


.btnnn{
  border: none;
  height: 40px;
  width: 40%;

}

.btnnn:hover{
  box-shadow: 0 2px 4px rgba(255, 250, 250, 0.922);
  color: white;
  background-color: #b99609;
  border: 1px solid white;

}

.nav-link:hover{
  box-shadow: 0 2px 4px rgba(60, 62, 62, 0.922);
color: rgb(28, 26, 26);
border: none;
}
 .nav-link{
  background-color: rgb(255, 255, 255);
                    color: rgb(227, 158, 54);
                     border: 1px solid black;
}

.imgg{
  margin-bottom: 3%;
}
