.card{
  margin: 2%
}
.card-title{
  font-family: 'Kalam', cursive;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card img{
  width: 90%;
  height: 50vh;
  margin-left: 5%;
}

span{
 font-family:'Courgette', cursive;
}
.noProducts{
  text-align: center;
  border: 1px solid black;
  width: 70%;
  margin: auto;
  margin-top: 3%;
}

#not{
  margin-top: 2%;
  font-size: 24px;
}
.hand{
  color: rgb(255, 196, 0)
}
