
<div class="container w-50">
  <div *ngIf="hasProducts == true">
  <div *ngFor="let product of products" class="product-card">
    <div class="card">
      <div class="card-body">
        <div style="display: flex; justify-content: space-between; align-items: center;">
          <h3 class="card-title">{{product.title}}</h3>
          <div>
            <button style="border:none" [routerLink]="['/updateproduct', product._id]">
            <i class="fa-solid fa-pencil me-2"></i>
          </button>
          <button style="border:none"  (click)="deleteProduct(product._id)">
            <i class="fa-solid fa-trash"></i>
          </button>
          </div>
        </div>
        <hr style="width: 30%; margin-bottom: 3%; ">
        <div  style="display: flex; flex-direction: row;">
<div class="content">
        <p class="card-price"><span>Price: </span>{{product.price}} EGP</p>
        <p class="card-details"><span>Details: </span>{{product.details}}</p>
        <p class="card-college"><span>College: </span>{{product.college}}</p>
      </div>
     
        <img src="http://localhost:3000/products/{{product.image}}" class="card-image"/>
      </div></div>
    </div>
  </div>
</div>

<div *ngIf="!hasProducts" class="noProducts">
  <p id="not">Hello <i class="fas fa-hand-sparkles hand" ></i>, you have not offered any products for sale yet, we will be happy to display your products</p>
</div>
</div>


