.card{
  margin: 2%
}
.card-title{
  font-family: 'Kalam', cursive;
  font-weight: bold;
  margin-bottom: 10px;
  color: #d0b03c;
  
  margin-bottom: 2%;
}

.content{
  margin-top: 2%;
  font-size: 17px;
    color: #020405;
    font-family: cursive;
 
}
.product-card img{
  width: 50%;
  height: 30vh;
  margin-left: 15%;
}

span{
 font-family:'Courgette', cursive;
}
.noProducts{
  text-align: center;
  border: 1px solid black;
  width: 70%;
  margin: auto;
  margin-top: 3%;
}

#not{
  margin-top: 2%;
  font-size: 24px;
}
.hand{
  color: rgb(255, 196, 0)
}