
<div class="row" style="width: 90%; margin: auto; margin-top: 2%;">
  <div class="container-lg col-lg-6">
  
    <!-- contact us title -->
    <h2 style="font-weight: bold; margin-left: 10%">Contact Us</h2><br>

    <!--contact us form-->
    <div style="width: 95%; text-align: center; margin-right: 5%; margin-left: 5%;">
      <form action="" style="width: 90%; text-align: center; margin-right: 5%; margin-left: 5%;">
        
        <div class="row g-2" style="margin-bottom: 10px;">
          <input type="text" class="form-control col-md" style="margin-right: 1%;" id="first_name" placeholder="First name">
          <input type="text" class="form-control col-md" id="last_name" placeholder="Last name">
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <input type="text" class="form-control col-md" id="email" placeholder="Email">
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
          <input type="tel" class="form-control col-md" id="phone" placeholder="Phone">
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <select class="form-select" id="collage" aria-label="Floating label select example">
              <option selected>Your Collage</option>
            </select>
        </div>

        <div class="row g-2" style="margin-bottom: 10px;">
            <div class="col-md form-floating">
                <select class="form-select" id="country" aria-label="Floating label select example">
                  <option value="egypt" selected>Egypt</option>
                  <option value="palestine">Palestine</option>
                  <option value="syria">Syria</option>
                  <option value="iraq">Iraq</option>
                </select>
                <label for="floatingSelectGrid">Country</label>
            </div>
            
            <input type="text" class=" form-control col-md" id="city" placeholder="City">              
        </div>

        <div class="form-group" style="margin-bottom: 10px;">
            <textarea rows="5" class="form-control col-md" id="message" placeholder="your message..."></textarea>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 sub-btn" routerLink='/msgsend' type="button">Send Message</button>
        </div>
        </form>
    </div>
  </div>
  <!--end of contact us form-->   
  
  <!--contact us cards-->
  <div class="container-lg col-lg-6" style=" background: #efefef; border-top: 3px solid rgb(216, 168, 12);">
    <div class="container mb-3" style="width: 90%; margin-top: 8%; margin-left: 5%; margin-right: 5%;">
      <h5 style="margin-bottom: 5%;">Other ways to contact us</h5>
      
      <div class="row g-0" style="margin-left: 5%; margin-right: 5%; margin-bottom: 5%;">
        <div class=" col-2">
          <img src="../../../assets/contact_us/call.png" class="img-fluid rounded-start" width="70%">
        </div>
        <div class="col-10">
          <div class="card-body">
            <p class="card-text">
              You can call or message us on: <span style="color:lightseagreen;">+20123456789</span>
            </p>
          </div>
        </div>
      </div>

      <div class="row g-0" style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%;">
        <div class=" col-2">
          <img src="../../../assets/contact_us/facebook.png" class="img-fluid rounded-start" width="70%">
        </div>
        <div class="col-10">
          <div class="card-body">
            <p class="card-text">
              Be the first on your block to get product updates.
              <br>
              announcements, news and lots of really good content, <span style="color:lightseagreen;">like us on Facebook</span> today!
            </p>
          </div>
        </div>
      </div>

      <div class="row g-0" style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%;">
        <div class=" col-2">
          <img src="../../../assets/contact_us/twitter.png" class="img-fluid rounded-start" width="70%">
        </div>
        <div class="col-10">
          <div class="card-body">
            <p class="card-text">
              Be the first on your block to get product updates.
              <br>
              announcements, news and lots of really good content, <span style="color:lightseagreen;">follow us on Twitter</span> today!</p>
          </div>
        </div>
      </div>

      <div class="row g-0" style="margin-left: 5%; margin-right: 5%; margin-bottom: 3%;">
        <div class=" col-2">
          <img src="../../../assets/contact_us/insta.png" class="img-fluid rounded-start" width="70%">
        </div>
        <div class="col-10">
          <div class="card-body">
            <p class="card-text">
              Be the first on your block to get product updates.
              <br>
              announcements, news and lots of really good content, <span style="color:lightseagreen;">follow us on Instagram</span> today!
            </p>
          </div>
        </div>
      </div>

      <div class="row g-0" style="margin-left: 5%; margin-right: 5%;">
        <div class=" col-2">
          <img src="../../../assets/contact_us/gmail.png" class="img-fluid rounded-start" width="70%">
        </div>
        <div class="col-10">
          <div class="card-body">
            <p class="card-text">
              You can message us on: <span style="color:lightseagreen;">our_mail123@gmail.com</span>
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!--end of contact us cards-->

</div>
