<div class="fixed-sidebar">
  <div>
    <h2>E-Commerce</h2>
  </div>
  <hr/>

    <div class="user">
  <img src="http://localhost:3000/uploads/{{user?.image}}" style="width:100px ;height: 100px; border-radius: 50px; "/>
  <h3>{{username}}</h3>
</div>
<div class="dashboard">
  <p [routerLinkActiveOptions]="{exact:true}" routerLinkActive="dash"  routerLink="/dashboard">Dashboard</p>
  <hr/>
  <p [routerLinkActiveOptions]="{exact:true}" routerLinkActive="dash"  routerLink="/adminproducts">Products</p>
  <hr/>
  <p [routerLinkActiveOptions]="{exact:true}" routerLinkActive="dash" routerLink="/adminorders">Orders</p>
  <hr/>
  <button (click)="logout()" class="logout">Logout </button><i class="fas fa-sign-in ml-1"></i>
</div>
</div>

