.fixed-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #f0f0f0;
}
h2{
  font-family: 'Satisfy', cursive;
  text-align: center;
  margin-top: 15px;
}
.user{
  text-align: center;
  margin-bottom: 20px;
}
.dashboard{
margin-left: .5rem;
}

.logout{
  border: none;
  font-weight:bold;
  font-size: larger;
}
.dashboard p{
  cursor: pointer;
}
