<div class="container">
    <div class="row justify-content-center" style="width: 80%; margin-left: 10%;">
        <div class="col-md-6">
            <div class="card border-0 mx-auto">
            <img src="assets/message_icon.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h4 style="text-align: center; color:#deaf77;">Your Message has been send successfully , we will contact you soon!</h4>
            </div>
            </div>
        </div>
    </div>
  </div>
  