    <div class="container">
      <h1>Orders List</h1>
      <a routerLink="/profile" class="btn btn-back" style="background-color: #cfb341; color:white;">Back to Orders</a>
      <div class="row">
        <div class="col-md-4" *ngFor="let order of orders">
          <div class="card">
            <div class="card-header"style="background-color: #cfb341;">
              <h4>Order Details</h4>
            </div>
            <div class="card-body">
              <dl class="row order-details" >

                <dt class="col">Order Date:</dt>
                <dd class="col">{{ order.date }}</dd>

                <dt class="col"style="display: inline-block;">Statue: </dt>
                <dd class="col"style="display: inline-block;">{{ order.statue }}</dd>
              </dl>

              <table class="table">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through the order items and create a row for each item -->
                  <tr *ngFor="let item of order.product">
                    <td>{{ item.pID.title }}</td>
                    <td>{{ item.pID.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.pID.price * item.quantity }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="order.statue !== 'accepted'">
              <button (click)="delete_order(order._id)" class="rounded-3 btn4 mb-3">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>

