<div id="app">
  <nav
    class="navbar navbar-expand-md navbar-light shadow-sm"
    style="background-color: whitesmoke; height: 75px"
  >
  <button (click)="toggleTheme()" style="border: none">
    <span style="font-size: 30px; cursor: pointer;" class="fa fa-moon"></span>
</button>
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left Side Of Navbar -->
        <ul class="navbar-nav">
          <li class="nav-item" style="margin-left: 150px">
            <a class="text-decoration-none text-dark"routerLink="/adminproducts">Products</a>
          </li>
          <li class="nav-item" style="margin-left: 150px">
            <a routerLink="/adminorders" class="text-decoration-none text-dark">Orders</a>
          </li>
        </ul>

        <!-- Right Side Of Navbar -->
        <ul class="navbar-nav ms-auto">
          <!-- Authentication Links -->
          <li *ngIf="isAuthenticated()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ username }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
