    <div class="container">
      <h1>Orders List</h1>
      <a routerLink="/profile" class="btn btn-primary btn-back">Back to Orders</a>
      <div class="row">
        <div class="col-md-4" *ngFor="let order of orders">
          <div class="card">
            <div class="card-header">
              <h4>Order Details</h4>
            </div>
            <div class="card-body">
              <dl class="row order-details">

                <dt class="col">Order Date:</dt>
                <dd class="col">{{ order.date }}</dd>

                <dt class="col"style="display: inline-block;">Statue: </dt>
                <dd class="col"style="display: inline-block;">{{ order.statue }}</dd>
              </dl>

              <table class="table">
                <thead>
                  <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Loop through the order items and create a row for each item -->
                  <tr *ngFor="let item of order.product_details">
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.quantity }}</td>
                    <td>{{ item.total }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

