body{
  background:#b6adad;
}

.padding {
  padding: 3rem !important;

}
h1{
  color: #b4840f;
}

.card{
  border-color: #b4840f;
  width: 100%;
  position:relative;
  overflow:hidden;
  border-radius:8px;
  margin-bottom: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #b4840f;
}

.card:before{

  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#e9dba6;
  transform:scaleY(1);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:after{

  content:"";
  position:absolute;
  left:0;
  top:0;
  width:4px;
  height:100%;
  background-color:#cfb341;
  transform:scaleY(0);
  transition:all 0.5s;
  transform-origin: bottom
}

.card:hover::after{
  transform:scaleY(1);
}


.fonts{
  margin-bottom: 7%;
  /* color: #a1a196; */
  color: #939191;
  font-weight: 500;
  text-align: center;
  /* letter-spacing: 0.1rem; */
  font-size: 15px;
  margin-top: 3%;
}


.buttons button:nth-child(1){
     border:1px solid #ffffff !important;
     color:#ffffff;
     margin-left: 32%;
     height:40px;
     width: 30%;
     margin-top: 5%;
     background-color: rgb(201, 159, 69);

}

.buttons button:nth-child(1):hover{
     border:1px solid #000000 !important;
     color:#000000;
     height:40px;
     background-color:#ffffff;

}

input[type="text"]
{
border: 0;

display: block;
margin: 20px auto;
text-align: center;
border: 2px solid #b89019;
padding: 10px 10px;
width: 220px;
outline: none;
border-radius: 4px;

}


input[type="text"]:focus {
 border-color: #b27409
}

h6 {
font-size: 14px;
}

.card .card-block p {
line-height: 25px;
}

.btnn{
  height: 40px;
  width: 200px;
  border: 2px solid #b4840f;
  background-color: white;
}
.labels{
  color: #2b2a2a;
  font-size: 18px;
  font-weight: bold;
}

