  <div class="body-div center-divs">
    <div class="card mb-3" style="width: 70%">
      <div class="profile-img">
        <label for="image-upload">
          <img
            id="image-preview"
            src="http://localhost:3000/uploads/{{user?.image}}"
            alt="upload image"
          />
        </label>

        <span class="sell-text">{{user.username}}</span>

        <hr class="hr-center" />

        <p class="fonts">
          This is your personal space where you can manage and customize your
          profile information. From here, you can update your profile picture,
          edit your information, and edit your orders list. Take control of
          your online presence and make your profile reflect who you are.
        </p>
      </div>

      <h1 class="d-flex justify-content-center h-media">Your Information</h1>
      <hr style="width: 34%; margin-left: 33%;" /><br>

      <div class="row" style="width: 80%; margin-left: 10%; text-align: center;">
        <div class="col-md-6">
          <label class="labels label-media">Gender:</label>
          <span class="fonts" style="margin-left: 2%">
            {{ user.gender }}
          </span>
        </div>

        <div class="col-md-6">
          <label class="labels label-media">Email:</label>
          <span class="fonts" style="margin-left: 2%">
            {{ user.email }}
          </span>
        </div>
      </div>

      <br><br>

      <h1 class="d-flex justify-content-center h-media">More Details</h1>
      <hr style="width: 34%; margin-left: 33%;" /><br>

      <div class="row" style="width: 80%; margin-left: 10%; text-align: center;">
        <div class="col-md">
          <button class="btn btn-primary me-md-2 sub-btn" type="button" routerLink="/user-products">Your Products</button>
        </div>

        <div class="col-md">
          <button class="btn btn-primary me-md-2 sub-btn" type="button" [routerLink]="['/soldproducts']">Your Sold Products</button>
        </div>

        <div class="col-md">
          <button class="btn btn-primary me-md-2 sub-btn" type="button" routerLink="/orders">Your Orders <i class="fas fa-shopping-cart"></i></button>
        </div>

          <div class="col-md">
            <button class="btn btn-primary me-md-2 sub-btn" type="button" [routerLink]="['/updateuser', user?._id]"><i class="far fa-edit"> </i> Edit Profile</button>
          </div>
      </div>
    </div>
  </div>
