<div class="container text-center">
  <div class="row">
    <div class="col mb-5" style="margin-top: -45px;">
      <img src="../../../assets/image/SOCIO (3).gif" width="190px">
    </div>
    <div class="col mt-4">
      <h2>MY ACCOUNT</h2>
    </div>
    <div class="col">
    </div>
  </div>
</div>

<!-- ----------------------------------content ------------------------------>
<div class="container" style="margin-top: -90px; margin-left: 190px;">
  <div class="row">
    <div class="col-md-3  border-right" style="background-color: rgb(255, 255, 255);">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">Donia</span><span> </span></div>
    </div>
    <div class="col-md-7 ms-3 " style="background-color: rgb(255, 255, 255);">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <!-- <i class="bi bi-person-vcard"></i> -->
            <h4 class="text-right fw-bold">MY DETAILS</h4>
        </div>
        <p>Feel free to edit any of your details below so your SOCIO account is totally up to date. (* Indicates a required field).</p>

        <div class="row mt-2">
            <div class="col-md-6"><label class="labels">First Name</label><input type="text" class="form-control" placeholder="first name" value=""></div>
            <div class="col-md-6"><label class="labels">Last Name</label><input type="text" class="form-control" value="" placeholder="last name"></div>
        </div>
        <div class="row mt-2">
            <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="enter phone number" value=""></div>
            <div class="col-md-12"><label class="labels">Address</label><input type="text" class="form-control" placeholder="enter address " value=""></div>
            <div class="col-md-12"><label class="labels">College</label><input type="text" class="form-control" placeholder="enter your college" value=""></div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control" placeholder="country" value=""></div>
            <div class="col-md-6"><label class="labels">State/Region</label><input type="text" class="form-control" value="" placeholder="state"></div>
        </div>
        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
    </div>
    </div>
  </div>
</div>
<br><br>

<!-- ----------------------------------Footer---------------------------------- -->
  <nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
      <div class="collapse navbar-collapse ml-5" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" style="margin-left: 150px;">
            <a class="nav-link active" href="#">SOCIO Homepage</a>
          </li>
          <li class="nav-item  ml-2">
            <a class="nav-link active" href="#">Privacy Policy</a>
          </li>
        </ul>
        <span class="navbar-text ">
          © SOCIO 2023
        </span>
      </div>
    </div>
  </nav>

