
/* at pc */
@media (min-width: 600px){

    /* bg image */
    .bg-image {
        background-image: url('../../../assets/home/background_pc.jpeg');
        background-repeat: no-repeat;
        background-position: top center;
        display: flex;
        height: 70vh;
        background-size: cover;
        width: 100%;
    }

    /* cover items */
    .cover-items {
        position: absolute;
        top: 43%;
        left: 57%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }

    /* bg buttons */
    .background_btn {
        width: 100px;
        height: 40px;
    }

    /* shop by category h1 */
    .h_category{
        font-size: xx-large;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }  
    
    /* parent div of cards */
    .card_div{
        margin-right: 20px;
    }
}
/* end of at pc */



/* at mob */
@media (max-width: 600px){

    /* bg image */
    .bg-image {
        background-image: url('../../../assets/home/background_mob.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        display: flex;
        background-size: contain;
        background-size: cover;
        height: 90vh;
        width: 100%;
    }

    /* cover items */
    .cover-items {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
    }

    /* bg buttons */
    .background_btn {
        width: 100px;
        height: 40px;
    }
    

    /* shop by category h1 */
    .h_category{
        font-size: x-large;
        font-weight: bold;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-align: center;
    }

}
/* end of at mob */


/* parent div of cards */
.parent_div{
    width: 80%;
    position: center;
}

.card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.card_btn{
    font-weight : 500;
}


/* bg buttons for all media */
.background_btn {
    text-align: center;
    padding: 10px 20px;
    background-image:
      linear-gradient(to right, #E0B0FF, #FFFACD, #B0E0E6),
      linear-gradient(to right, #E0B0FF, #FFFACD, #B0E0E6);
    background-size: 600% 100%; /* double the size of the button width */
    background-position: center; /* set the initial position of the gradient */
    color: #fff;
    border: none;
    border-radius: 30px;
    animation-name: color-change;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    color: black;
    font-weight: 500;
}

/* bg buttons color effect for all media */
@keyframes color-change {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    100% {
        background-position: left bottom;
    }
    }
    
    .background_btn:hover {
        animation-name: color-mix;
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
    }
    
    @keyframes color-mix {
    0% {
        background-position: left bottom;
    }
    50% {
        background-position: right bottom;
    }
    100% {
        background-position: left bottom;
    }
}

