<div class="alert alert-danger" role="alert"*ngIf="alertVisible">
  Please Login First
</div>
<!--background image-->
<div class="bg-image container">
  <div class="cover-items">
    <button class="background_btn me-2" routerLink="/products"(click)="showAlert()">BUY</button>
    <button class="background_btn" routerLink="/createproduct"(click)="showAlert()">SELL</button>
  </div>
</div>
<br />
<!--end of background image-->

<!--Categories-->
<h1 class="h_category">Shop by Category</h1>
<br />

<div class="container parent_div">
  <!--Shop Categories Cards-->

  <!--first row-->
  <div class="card-group">
    <div class="card card_div">
      <img src="../../../assets/home/medicine.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Medicine tools</h5>
        <p class="card-text">
          Here you will find everything you may need in terms of tools for
          medical college, dental college, and biology labs, and you can also
          sell the tools that you no longer need.
        </p>
        <div class="container" style="justify-content: center">
          <button type="button" class="btn btn-warning card_btn" >BUY</button>
          <button type="button" class="btn btn-info card_btn">SELL</button>
        </div>
      </div>
    </div>
    <div class="card card_div">
      <img src="../../../assets/home/fine_art.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Fine Arts tools</h5>
        <p class="card-text">
          Here you will find everything you may need in terms of drawing or
          coloring tools for fine arts, and you can also sell the tools that you
          no longer need.
        </p>
        <br />
        <div class="container" style="justify-content: center">
          <button type="button" class="btn btn-warning card_btn">BUY</button>
          <button type="button" class="btn btn-info card_btn">SELL</button>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/home/electricity.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Engineering tools</h5>
        <p class="card-text">
          Here you will find everything you may need in terms of engineering
          tools and physics lab tools, and you can also sell the tools that you
          no longer need.
        </p>
        <br />
        <div class="container" style="justify-content: center">
          <button type="button" class="btn btn-warning card_btn">BUY</button>
          <button type="button" class="btn btn-info card_btn">SELL</button>
        </div>
      </div>
    </div>
  </div>

  <br />

  <!--second row-->
  <div class="card-group">
    <div class="card card_div">
      <img src="../../../assets/home/laboratory.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Chemistry Lab tools</h5>
        <p class="card-text">
          Here you will find all the tools you may need in chemistry labs, and
          you can also sell the tools that you no longer need.
        </p>
        <br />
        <div class="container" style="justify-content: center">
          <button type="button" class="btn btn-warning card_btn">BUY</button>
          <button type="button" class="btn btn-info card_btn">SELL</button>
        </div>
      </div>
    </div>
    <div class="card card_div">
      <img src="../../../assets/home/architecture.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Architecture tools</h5>
        <p class="card-text">
          Here you will find everything you may need in terms of architectural
          engineering tools, and you can also sell the tools that you no longer
          need.
        </p>
        <div class="container" style="justify-content: center">
          <button type="button" class="btn btn-warning card_btn">BUY</button>
          <button type="button" class="btn btn-info card_btn">SELL</button>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/home/other.jpg" class="card-img-top" />
      <div class="card-body">
        <h5 class="card-title">Other tools</h5>
        <p class="card-text">
          If you cannot find what you are looking for in our sections, you may
          find it here in the 'Other Tools' section, and you can also sell the
          tools that you no longer need.
        </p>
        <div class="container" style="justify-content: center">
          <button type="button" class="btn btn-warning card_btn">BUY</button>
          <button type="button" class="btn btn-info card_btn">SELL</button>
        </div>
      </div>
    </div>
  </div>

  <br />
  <!--End Of Shop Categories Cards-->
</div>
<!--end of Categories-->
