
.testimonial{
  border-left: 3px solid  #c0b236;
  padding: 100px 0 100px 275px;
  position: relative;
  margin-left: 10%;
}
.testimonial:before,
.testimonial:after{
  content: "";
  width: 40%;
  height: 55px;
  border-right: 3px solid #c0b236;
  position: absolute;
  left: 0;
}
.testimonial:before{
  border-top: 3px solid  #c0b236;
  top: 0;
}
.testimonial:after{
  border-bottom: 3px solid  #c0b236;
  bottom: 0;
}
.testimonial .pic{
 
  position: absolute;
  top: 30px;
  left: 20px;
}
.testimonial .pic img{
  width: 85%;
 
  height:350px;

}
.testimonial .description{
  font-size: 22px;
  color: #7a7e82;
  margin-left: 170px;
  line-height: 27px;
  position: relative;
}
.price{
  font-size: 22px;
  color: #434547;
  margin-left: 170px;
  line-height: 27px;
  font-weight: 600;
  position: relative;
}

.testimonial .testimonial-title{
  font-size: 25px;
  margin-left: 160px;
  font-weight:800;
  color: #22272c;
  text-transform: capitalize;
}
.testimonial .post{
  
  font-size: 18px;
  padding-left: 70px;
  font-weight: 700;
  margin-left: 100px;
  color :#6ab33e;
  margin-top: 10px;
}
.owl-theme .owl-controls{
  text-align: right;
  margin-top: 30px;
}
.owl-theme .owl-controls .owl-buttons div{
  background: #6ab33e;
  border-radius: 0;
  opacity: 1;
  padding: 5px 10px;
}
.owl-prev:before,
.owl-next:before{
  content: "\f053";
  font-family: "Font Awesome 5 Free"; font-weight: 900;
  color: #fff;
}
.owl-next:before{
  content: "\f054";
}
 .btn1{
  margin-left: 20%;
  height: 42px;
    color: white;
    border: none;
    width: 25%;
    background-color: #dbc3a3;

}

 .btn2{
  height: 42px;
    color: white;
    border: none;
    width: 25%;
    background-color: #dbc3a3;
  margin-left: 5%;
}

.btn1:hover{
  background-color: white;
  border:  1px solid  #c2a988 ;
  color:black;

}

.btn2:hover{
  background-color: white;
  border:  1px solid  #c2a988 ;
  color:black;
}

@media only screen and (max-width: 990px){
  .testimonial{
      padding: 80px 0 80px 265px;
  }
}
@media only screen and (max-width: 767px){
  .testimonial{
      padding: 0;
      border: none;
  }
  .testimonial:before,
  .testimonial:after{
      border: none;
  }
  .testimonial .pic{
      position: relative;
      top: 0;
      left: 0;
  }
  .testimonial .description{
      margin-top: 15px;
  }
  .testimonial .description:before{
      content: "";
  }
}

