
     <div class="container" style="margin-top: 3%; background-color: rgb(245, 245, 245);padding: 3%; border-left: 2px solid rgb(198, 146, 51);">
        <div class="row">
            <div class="col-md-12">
                <div id="testimonial-slider" class="owl-carousel">
                    <div class="testimonial">
                        <div class="pic">
                            <img src="http://localhost:3000/products/{{product.image}}"  alt="">
                        </div>
                        <div class="testimonial-content">
                            <h3 class="testimonial-title"> {{product?.title}}
                              <br>
                              <br>

                              <i style="color: rgb(221, 199, 28);margin-left: 2%;"  class="fa-solid fa-star"></i>
                              <i style="color: rgb(221, 199, 28);"  class="fa-solid fa-star"></i>
                              <i style="color: rgb(221, 199, 28);"  class="fa-solid fa-star"></i>
                              <i style="color: rgb(221, 199, 28);"  class="fa-solid fa-star"></i>
                              <i style="color: rgb(221, 199, 28);"  class="fa-solid fa-star"></i>

                            </h3>
                            <p class="post"> Recommended by the Faculty of {{product?.college}} department.</p>
                            <p class="description">
                                {{product?.details}}


                            </p>
                            <p class="price">
                                {{product?.price}}$
                            </p>

                        </div>
                        <div class="buttons d-flex flex-row mt-2 gap-9">
                              </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
