

     

<ng-container *ngIf="products.length !=0">
    <div>
        <h3 class="total">
             Shopping Cart
        </h3>
    </div>
<div class="main">
  
    <div style="width: 70%;" class="container" >
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead style="border: 1px solid rgb(255, 255, 255);">

                        <tr style="border: 1px solid rgb(255, 255, 255);">
                            <th>Item <br>
                            
                            <th style="visibility: hidden;">Product Name
                            </th>
                          
                            
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Total</th>
                            <th>Action</th>
                            
                        </tr>
                    </thead>
                    <tbody style="border: 1px solid rgb(255, 255, 255);" >
                        <tr *ngFor="let item of products; let i = index">
                            <td><img style="width: 120px;" src="{{item.image}}" alt=""></td>
                           
                            <td>{{item.title}} <br> <br>

                                <p style="width: 80%;">{{item.description}}</p>
                            </td>
                           
                           
                            <th style="width: 12%; color: rgb(53, 159, 175);">{{item.price}}</th>                            
                            <td style="width: 12%;">   {{item.quantity}}</td>

                            <td style="width: 12%; color: rgb(53, 159, 175);">{{item.total}}</td>
                            <td>
                                <button (click)="removeItem(item)" class="btn btn-dark"><i class="fa fa-times-rectangle"></i></button>
                            </td>
                        </tr>
                      
     
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>

<div class="check">
  
<p style="font-weight: 600;
text-align: center;
font-size: 24px;
font-family: cursive;">
   order summary
</p>
<hr style="
color: #8b8989;
    width: 80%;
    margin-left: 10%;">
    <p style="margin-bottom: 5%; font-weight: 600;"> 
ITEMS   ({{totalItem}})

</p>


 
<hr style="color: #8b8989;
width: 80%;
margin-top: 15%;
margin-left: 10%;">
  <strong class="strng"> TOTAL COST : ${{grandTotal}} </strong>
  <p>execluding delievry</p>
  <button class="btn2 btn-success">Checkout</button>


</div>



</div>
    <div class="whatever">
        <button style="margin-right: 18%;margin-left: 10%;" (click)="emptycart()" class="btnn">Remove All</button>
        <button routerLink="/products" class="btn1 btn-primary">Shop More</button>
      
    </div>
</ng-container>


<ng-container *ngIf="products.length ==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart <i class="fa fa-cart-plus"></i></h5>
        </div>
        <div class="center">
            <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
            <h4>Your cart is empty!</h4>
            <h6>Add item to it now</h6>
            <button routerLink="/products" class="btn5 btn-primary">Shop Now</button>
        </div>
    </div>

  
    
</ng-container>