.card {
  height: 60vh;
  margin: 30px;
  padding: 18px;
}

.center img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
  height: 162px;
  width: 250px;
  margin: 20px 0px;
}

h4,
h6 {
  font-weight: 400;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card-table {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: none;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgb(164, 161, 161);
  border-radius: .25rem;
}

.center .btn {
  font-size: 14px !important;
  margin-top: 20px !important;
  font-weight: 400;
  padding: 12px 72px;
  border-radius: 3px !important;
}

.total{
  font-weight: 600;
  /* font-family: unset; */
  margin-bottom: 4%;
  font-family: cursive;
  margin-top: 5%;
  font-size: 28px;
  margin-left: 3%;

}

.whatever{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5%;

}
.btnn{
  color: white;
  background-color: black;
  width: 20%;
  margin-right: 15%;
  margin-top: 3%;
  border: none;
  height: 40px;
  text-align: center;
}
.btnn:hover{
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  color: rgb(152, 90, 9);
}



.btn1{
  color: white;
  background-color: black;
  width: 20%;
  margin-right: 15%;
  margin-top: 3%;
  border: none;
  height: 40px;
}
.btn1:hover{
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(152, 90, 9);
}
.main{
  display: flex;
  flex-wrap: wrap;
}
.check{
  padding: 3%;
  border: none;
  width: 23%;
  height: 500px;
  margin-right: 3%;
  background: #e5e5e4;


}
.btn5{
  border: 1px solid black;
  background-color: #ffffff;
  color: black;
  width: 150px;
   height: 41px;

}
.btn2{

margin-left: 15%;
border: none;
margin-top: 7%;
height: 37px;
width: 80%;
background-color: black;


}

.btn5:hover{
  background-color:rgb(205, 139, 52);;
  color: white;
  border: 1px solid rgb(255, 255, 255);
}
