<div class="container">
  <h1>Terms of Service</h1>
  <p>Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern our relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website.</p>

  <h2>The Use of This Website is Subject to the Following Terms:</h2>

  <ul>
    <li>The content of the pages of this website is for your general information and use only. It is subject to change without notice.</li>
    <li>This website uses cookies to monitor browsing preferences. If you do allow cookies to be used, the following personal information may be stored by us for use by third parties: [insert list of information].</li>
    <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law.</li>
    <li>Your use of any information or materials on this website is entirely at your own risk, for which we shall not be liable. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
    <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
    <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
    <li>Unauthorized use of this website may give rise to a claim for damages and/or be a criminal offense.</li>
    <li>From time to time, this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
    <li>Your use of this website and any dispute arising outof such use of the website is subject to the laws of Arabic Repulic Of Egypt.</li>
  </ul>

  <h2>Privacy Policy:</h2>

  <p>We are committed to protecting your privacy. We will only use the information that we collect about you lawfully (in accordance with the Data Protection Act 1998 and other applicable laws). We collect information about you for 2 reasons: firstly, to process your order and secondly, to provide you with the best possible service. We will not e-mail you in the future unless you have given us your consent. We will give you the chance to refuse any marketing e-mail from us in the future.</p>

  <h2>Changes to These Terms:</h2>

  <p>We reserve the right to change these terms and conditions at any time. You should check this page regularly to ensure that you are aware of any changes.</p>
</div>
