
  <div style="width: 100%; height: 100%;">

    <!-- about us title -->
    <div class="about_us_div">
      <h1 class="my-title">About Us</h1>
    </div>
    <br><br><br>

    <div class="container parent_div">

        <!--about us Cards-->
        <div class="row">
          <div class="card my-col-9 bg-transparent border-0">
            <div class="row g-0">
              <div class=" col-md-4">
                <img src="../../../assets/about/about_us01.png" class="img-fluid rounded-start card_img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Programmers</h5>
                  <p class="card-text">
                    It's not only writers who can benefit from this free online tool. If you're a programmer who's working on a project where blocks of text are needed, this tool can be a great way to get that. It's a good way to test your programming and that the tool being created is working well.
                    <br>
                    Above are a few examples of how the random paragraph generator can be beneficial. The best way to see if this random paragraph picker will be useful for your intended purposes is to give it a try. Generate a number of paragraphs to see if they are beneficial to your current project.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 empty_col"></div>
        </div>

        <br>

        <div class="row">
          <div class="col-3 empty_col"></div>
          <div class="card my-col-9 bg-transparent border-0">
            <div class="row g-0 ml-auto">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Writing Challenge</h5>
                  <p class="card-text">Another writing challenge can be to take the individual sentences in the random paragraph and incorporate a single sentence from that into a new paragraph to create a short story. Unlike the random sentence generator, the sentences from the random paragraph will have some connection to one another so it will be a bit different. You also won't know exactly how many sentences will appear in the random paragraph.</p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../../../assets/about/about_us02.png" class="img-fluid rounded-start card_img right_img">
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="card my-col-9 bg-transparent border-0">
            <div class="row g-0">
              <div class=" col-md-4">
                <img src="../../../assets/about/about_us03.png" class="img-fluid rounded-start card_img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Random Paragraph</h5>
                  <p class="card-text">
                    If you're looking for random paragraphs, you've come to the right place. When a random word or a random sentence isn't quite enough, the next logical step is to find a random paragraph. We created the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will instantly appear.
                    <br>
                    While it may not be obvious to everyone, there are a number of reasons creating random paragraphs can be useful. A few examples of how some people use this generator are listed in the following paragraphs.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 empty_col"></div>
        </div>

        <br>

        <div class="row">
          <div class="col-3 empty_col"></div>
          <div class="card my-col-9 bg-transparent border-0">
            <div class="row g-0 ml-auto">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Creative Writing</h5>
                  <p class="card-text">Generating random paragraphs can be an excellent way for writers to get their creative flow going at the beginning of the day. The writer has no idea what topic the random paragraph will be about when it appears. This forces the writer to use creativity to complete one of three common writing challenges. The writer can use the paragraph as the first one of a short story and build upon it. A second option is to use the random paragraph somewhere in a short story they create. The third option is to have the random paragraph be the ending paragraph in a short story. No matter which of these challenges is undertaken, the writer is forced to use creativity to incorporate the paragraph into their writing.</p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../../../assets/about/about_us04.png" class="img-fluid rounded-start card_img right_img">
              </div>
            </div>
          </div>
        </div>

        <br>

        <div class="row">
          <div class="card my-col-9 bg-transparent border-0">
            <div class="row g-0">
              <div class=" col-md-4">
                <img src="../../../assets/about/about_us06.png" class="img-fluid rounded-start card_img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Tackle Writers' Block</h5>
                  <p class="card-text">
                    A random paragraph can also be an excellent way for a writer to tackle writers' block. Writing block can often happen due to being stuck with a current project that the writer is trying to complete. By inserting a completely random paragraph from which to begin, it can take down some of the issues that may have been causing the writers' block in the first place.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 empty_col"></div>
        </div>

        <br>

        <div class="row">
          <div class="col-3 empty_col"></div>
          <div class="card my-col-9 bg-transparent border-0">
            <div class="row g-0 ml-auto">
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Beginning Writing Routine</h5>
                  <p class="card-text">Another productive way to use this tool to begin a daily writing routine. One way is to generate a random paragraph with the intention to try to rewrite it while still keeping the original meaning. The purpose here is to just get the writing started so that when the writer goes onto their day's writing projects, words are already flowing from their fingers.</p>
                </div>
              </div>
              <div class="col-md-4">
                <img src="../../../assets/about/about_us05.png" class="img-fluid rounded-start card_img right_img">
              </div>
            </div>
          </div>
        </div>

        <br><br>

        <!--End Of about us Cards-->

    </div>

</div>
