.drop{
  display: flex;
  flex-wrap: wrap;
}

.main{
  display: flex;
  flex-wrap: wrap;

}
.error-message {
color: red;
margin-left: 1%;

}

.red-border {
  border: 1px solid red;
}

.check{
  height: 200px;
  padding: 3%;
  border: none;
  width: 29%;
  height: 790px;
  background: #efefef;

}

.para{
font-size: 23px;
font-family: math;
font-weight: 900;
margin-top: 3%;
}

.par{
  font-size: 23px;
  font-family: math;
  font-weight: 900;
}

form{
  padding-left: 5%;
  width: 70%;
  padding-top: 5%;
}

.check {
  border-top: 3px solid rgb(216, 168, 12);
  height: 500px; 
  margin-top: 9%;
}

.btnn{
  font-weight: 600;
  border: white;
  background: #e0d393;
  height: 50px;
  margin-bottom: 10%;
  float: right;
  color: white;
  margin-right: 10%;
  margin-top: 3%;
  width: 30%;
}

.btn{
  border:1px solid#e0d393;
  width: 270px;
  height: 40px;
  background-color: white;
  color: #e0d393;

}


.btnn:hover{
  background-color: white;
  border: 1px solid #e0d393;
  color: #d2c378;
}
