/* You can add global styles to this file, and also import other style files */
/* @import '~@fortawesome/fontawesome-free/css/all.min.css'; */
.dark-theme{
  background-color: #191919;
  color:rgb(167, 162, 162);
}

.active{
  color: #edd375;
  text-decoration: underline;
}

.active:hover{
  color: black;
}

.dash{
  color: #30A2FF;
}

.dash:hover{
  color: white;
}

