.categories{
  width: 70%;
  background-color: #65badb;
  padding: 1%;
  color: white;
  text-align: center;
  margin:auto;
  height: 10vh
}
#search{
  border: none;
  width: 65%;
  height: 50px;
  padding-left: 4px;
  float: left;
  font-size: large;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
#college{
  width: 20%;
  margin-left: 5%;
  height: 50px;
  color:rgb(121, 128, 128);
  float: left;
  text-align: center;
  font-size: large;
  font-weight: 700;
  cursor: pointer;
}

.products{
  display: grid;
  width: 70%;
  grid-template-columns: repeat(auto-fit,minmax(330px,auto));
  gap: 20px;
  margin: 3% auto;
}

.product_card{
  position: relative;
  padding: 10px;
  box-shadow: 0 5px  5px  rgba(0, 0, 0, 0.445);
  border-radius: 15px;
}

.product_card img{
  width: 90%;
  margin: auto;
  height: 250px;
  display: block;
  padding-top: 1%;
}

.product_card #title{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
}

.product_card #price{
  text-align: center;
  font-weight: 600;
  font-size: 23px;
  color: rgb(148, 9, 9);
  font-family: sans-serif;
  text-shadow: 0 5px  5px rgba(0,0,0,0.2);
}

.product_card #details{
  width: 90%;
  margin: 2% auto;
  font-family:monospace;
  font-style: oblique;
  font-size: larger;
}

button {
  position: absolute;
  top: 10px;
  right: 0px;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 0px  15px;
  padding: 4%;
}

button:hover {background-color: #3e8e41}
button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
}
