.card-top {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #fafaf8;
  background-clip: border-box;

  border-radius: .25rem;
}

.products{
  display: grid;
  width: 65%;
  grid-template-columns: repeat(auto-fit,minmax(250px,auto));
  gap: 60px;
  box-shadow: 5 2px 0px  rgba(0, 0, 0, 0.2);
  margin: 3% auto;
}

.item img {
    width: 64px;
}
.btn4{
  font-weight: 600;
  font-family: system-ui;
  font-size: 17px;
  margin-left: 27%;
  width: 50%;
  border: 1px solid #163396;
  background-color: #ffffff;
  color: #d9a655;
  height: 41px;
  margin-bottom: 3%;
}
.imgg{
  width: 65%;
  margin-left: 18%;
}


.btn4:hover{
    border: 1px solid white;
    background-color: rgb(211, 152, 57);
    color: white;
}


.item {
    margin: 0px 15px;
    text-align: center;
}

.item a:hover {
    color: rgb(201, 151, 14);
}

.card {
  position: relative;
  padding: 10px;
}

.card img {
  width: 30%;
  margin: auto;
  height: 200px;
  display: block;
  padding-top: 1%;


  transition: 0.3s ease-in-out;
}

.card img:hover {
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.quan{

  text-align: center;
  margin-bottom: 5%;
}
.card-button{
  border: 1px solid black;
  height: 37px;
  margin-left: 5%;
  background-color: #ffffff;
  color: black;
}
.card-button:hover{
  background-color: rgb(202, 170, 53);
  color: white;
  border: none;
}


h6:hover{
  color: #d9a655;
}

.sidebar {
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  padding: 2%;
  border-left: 2px solid rgb(209, 169, 58);
}

@media (max-width: 750px) {
  .sidebar {
    position: static;
    width: 100%;
    height: auto;
    border-left: none;
  }
}
