<div style="background-color:#f8f7f7;">
    
   
 
    <div style="display: flex; flex-direction: row;">
         
     <div style="
     
     width: 20%;
     margin-top: 7%;
     height: 50%;
     margin-left: 2%;
    
     padding: 2%;
     border-left: 2px solid rgb(209, 169, 58);
     background-color: #ffffff;
   
     ">
     
     
 <a (click)="getMyProducts()">
    
     <h6 style="font-size: 24px;
     letter-spacing: 0.3rem;
     color: rgb(209, 169, 58);
  ;
 ">All products</h6>
 </a>
 
 <div class="input-group">
     <div class="form-outline" style="width: 100%; margin-top: 7%; height: 35px;">
       <input type="search"  type="search" id="search" name="search" autocomplete="off"  (input)="searchProductsByTitle($event)" placeholder="search..." />
      
     </div>
    
   </div>
 <a (click)="getMyProducts('engineering')">
    
     <h6 style="font-size: 18px; margin-top: 60px;">Engineering</h6>
 </a>
 <hr>
 <a (click)="getMyProducts('science')">
  
     <h6 style="font-size: 18px; margin-top: 40px">Science</h6>
 </a>
 <hr>
 <a (click)="getMyProducts('Pharmacy')">
   
     <h6 style="font-size: 18px;margin-top: 40px">Pharmacy</h6>
 </a>
 <hr>
 <a (click)="getMyProducts('Medicine')">
 
     <h6 style="font-size: 18px;margin-top: 40px">Medicine</h6>
 </a><hr>
 
 <a (click)="getMyProducts('Arts')">
 
     <h6 style="font-size: 18px;margin-top: 40px">Arts</h6>
 </a>
 <hr>
 <a (click)="getMyProducts('Dentistry')">
 
     <h6 style="font-size: 18px;margin-top: 40px">Dentistry</h6>
 </a>
     </div>
 
     
     <div class="products">
                 <div class="card "  *ngFor="let item of productList" style="background-color: #ffffff;">
                   <a [routerLink]="['/products', item._id]" style="text-decoration: none;">
                     <div class="card-image">
                         <img
                             src="http://localhost:3000/products/{{item.image}}"  style="width: 100%;"/>
                     </div>
                     <h5 style="
                     
                         margin-top: 8%;
                         /* margin-left: 10%; */
                         font-family: math;
                         text-align: center;
                         white-space: nowrap;
                         overflow: hidden;
                         text-overflow: ellipsis;
                         max-width: 100ch;
                         font-weight: 600;
                         letter-spacing: 0.1rem;
                         color: #10458d;
                     ">{{item.title}}</h5>
                    
                     <p style="font-family: monospace;
                     font-size: 18px;
                     text-align: center;
                     font-weight: 300;
                     color: rgb(120 131 133);"><strong>Price:</strong> ${{item.price}}</p>
                   </a>
                       <!-- Quantity Selector -->
             
                   <!-- Total Price -->
                  
     
                   <!-- Add to Cart Button -->
                   <button class="card-button" (click)="addToCart(item)">Add to Cart</button>
                 </div></div>
     </div></div>