<div class="container-fluid bg-dark pt-5 mt-5 " style=" position:absolute;bottom:0;">
  <div class="row d-flex justify-content-around">
    <div class="col-footer col-12 col-md-4 text-white">

      <h3 class="foot-title dropdow-mb">

<span>
Navigate
</span>
      </h3>
      <ul >
          <li > <a href="" title="About Us" class="foot-link text-white"><span>About Us</span></a></li>
          <li><a href="" title="Contact Us" class="foot-link text-white"><span>Contact Us</span> </a></li>
          <li> <a href="" title="Terms of Service" class="foot-link text-white"><span>Terms of Service</span></a></li>
          <li> <a href="" title="Refund policy" class="foot-link text-white"><span>Refund policy</span></a></li>
      </ul>

  </div>

<div class="col-lg-4 ">
  <h3 class="text-white "> <strong>INFO</strong></h3>
  <h5 class="text-white foot-link">2113 Horreya Avenue</h5>
  <h5 class="text-white">Alexandria</h5>
  <h5 class="text-white">Call us at: 0120000999</h5>

  </div>
</div>
</div>
