@media (max-width: 767px) {
  /* Adjust the styling for screens smaller than 768px in width */
  .col-footer {
    margin-bottom: 20px;
  }
  .footer-top {
    padding-top: 30px;
  }
  .foot-title {
    margin-bottom: 20px;
  }
  .foot-link {
    font-size: 14px;
  }
}
.site-footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

