<app-sidebar></app-sidebar>

<div class="main-container">
  <div class="heading">
    <h1 class="heading__title">Admin dashboard</h1>
  </div>

        
  <div class="cards">
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Total Orders Numbers</h2>
      <p class="card__apply">
        <a class="card__link">{{totalOrdersCount}}</a>
      </p>
    </div>


    <div class="card card-2">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Total Pending Orders</h2>
      <p class="card__apply">
        <a class="card__link">{{pendingOrders}} </a>
      </p>
    </div>
    <div class="card card-3">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Total Rejected Orders</h2>
      <p class="card__apply">
        <a class="card__link">{{rejectedOrders}} </a>
      </p>
    </div>
    <div class="card card-4">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Total Products number</h2>
      <p class="card__apply">
        <a class="card__link">{{totalProductsCount}} </a>
      </p>
    </div>
    <div class="card card-5">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title">Sold Products</h2>
      <p class="card__apply">
        <a class="card__link">{{soldProductsCount}}</a>
      </p>
    </div>
    <div class="card card-1">
      <div class="card__icon"><i class="fas fa-bolt"></i></div>
      <p class="card__exit"><i class="fas fa-times"></i></p>
      <h2 class="card__title"> Users number</h2>
      <p class="card__apply">
        <a class="card__link" >{{usersCount}}</a>
      </p>
    </div>
  </div>
</div>