<app-sidebar></app-sidebar>
<div style="margin-left: 17%;display: flex; gap:40px; margin-top: 8%;">
<div class="bg-success p-3">
  <h2 class="title">Total Orders Numbers</h2>
  <h3>{{totalOrdersCount}}</h3>
</div>
<div class="bg-warning p-3">
  <h2  class="title">Total Pending Orders</h2>
  <h3>{{pendingOrders}}</h3>
</div>
<div class="bg-danger p-3">
  <h2  class="title">Total Rejected Orders</h2>
  <h3>{{rejectedOrders}}</h3>
</div>
</div>
<div style="margin-left: 17%;display: flex; gap:40px; margin-top: 5%;">
<div class="bg-primary p-3">
  <h2  class="title">Total Products number in your site</h2>
  <h3>{{totalProductsCount}}</h3>
</div>
<div class="bg-light p-3">
  <h2  class="title">Sold Products</h2>
  <h3>{{soldProductsCount}}</h3>
</div>
<div class="bg-secondary p-3">
  <h2  class="title">Users number</h2>
  <h3>{{totalUsersCount}}</h3>
</div>
</div>


