.field{
border: 0;
border: 2px solid #b89019;
padding: 10px 10px;
padding-left: 20px;
width: 370px;
outline: none;
border-radius: 4px;
font-size: 16px;
}

input[type="text"]:focus {
 border-color: #b27409
}



h3{
  color:#000000
}

h1{
  color:#b4840f;
  text-align: center;
}

.btnn{
  height: 40px;
  width: 130px;
  border: 2px solid #b4840f;
  background-color: #b4840f;
  color: white;
}
.btnn:hover{
  height: 40px;
  width: 130px;
  border: 2px solid #b4840f;
  background-color: white;
  color: #b4840f;
}

.btnn2{
  height: 40px;
  width: 100px;
  border: 2px solid #b4840f;
  background-color: white;
  margin-left: 20px;
}

