<form
  class="box"
  role="form"
  enctype="multipart/form-data"
  (ngSubmit)="
    UpdateUser(
      email.value,
      username.value,
      password.value,
      maleRadio.checked ? 'male' : 'female',
      image
    )"
>
  <div class="body-div center-divs">
    <div class="card mb-3" style="width: 70%">
      <div class="row g-0">

      <span class="sell-text">Edit Profile</span>
        <hr class="hr-center" />

          <div class="col-md-4">
            <label for="image-upload">
              <img
                id="image-preview"
                src="http://localhost:3000/uploads/{{user.image}}"
                alt="upload image"
              />
            </label>
            <input
              id="image-upload"
              type="file"
              onchange="const reader = new FileReader();
                              reader.onload = function() {
                                const imagePreview = document.getElementById('image-preview');
                                imagePreview.src = reader.result;
                              }
                              reader.readAsDataURL(event.target.files[0]);"
              style="display: none"
              name="image"
              required
              #image
            />
          </div>

          <div class="col-md-8 center-divs">
            <div class="card-3 body" style="width: 80%">
              <h3 class="sell-text">Personal info</h3>
              <div class="frm col-" style="margin-top: 5%">
                <label class="product-text">User Name: </label>
                <input
                  name="username"
                  type="text"
                  value={{user.username}}
                  class="form-control form-control-sm validate custom-border-bottom"
                  required
                  #username
                />
              </div>

              <div class="md-form form-sm mb-5">
                <label class="product-text">Email: </label>
                <input
                name="email"
                  type="email"
                  value={{user.email}}
                  class="form-control form-control-sm custom-border-bottom"
                  required
                  #email
                />
  
                <label class="product-text">Password: </label>
                <input
                  name="password"
                  type="password"
                  class="form-control form-control-sm custom-border-bottom"
                  required
                  #password
                />
              </div>

              <div class="form-group">
                <label class="col-md-3 control-label">Gender:</label>
                <div class="col-md-3 mt-3">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="male" #maleRadio [checked]="user.gender === 'male'">
                    <label class="form-check-label" for="male">Male</label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="gender" value="female" #femaleRadio [checked]="user.gender === 'female'">
                    <label class="form-check-label" for="female">Female</label>
                  </div>
                </div>
              </div>

              <div class="text-center form-sm mt-2">
                <button class="product-price-btn" type="submit">
                  Save Changes
                </button>
              </div>
              <div class="text-center form-sm mt-2">
                <button class="product-price-btn" type="reset" style="margin-bottom: 10%;">
                  Reset
                </button>
              </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<script>
  const imagePreview = document.getElementById('image-preview');
  imagePreview.addEventListener('click', function() {
    const imageUpload = document.getElementById('image-upload');
    imageUpload.click();
  });
</script>