<div class="site-footer footer-default container-fluid bg-dark pt-5 mt-5 ">
    <footer class="site-footer footer-default" role="contentinfo">
  
      <div class="footer-top">
          <div class="container">
              <div class="row">
                <div class="col-footer col-12 col-md-4 text-white">
  
                  <h3 class="foot-title dropdow-mb">
  
              <span>
              Navigate
              </span>
                  </h3>
                  <ul class="list-unstyled">
                      <li > <a href="" title="About Us" class="foot-link text-white text-decoration-none"><span >About Us</span></a></li>
                      <li><a href="" title="Contact Us" class="foot-link text-white text-decoration-none"><span>Contact Us</span> </a></li>
                      <li> <a href="" title="Terms of Service" class="foot-link text-white text-decoration-none"><span>Terms of Service</span></a></li>
                      <li> <a href="" title="Refund policy" class="foot-link text-white text-decoration-none"><span>Refund policy</span></a></li>
                  </ul>
              </div>
  
  
  
  
  
  
    <div class="col-footer col-12 col-md-4 text-white">
  
      <h3 class="foot-title dropdow-mb">
  
  <span>
  Faculties
  </span>
      </h3>
      <ul class="list-unstyled">
          <li > <a href="" title="Engineering" class="foot-link text-white text-decoration-none"><span >Engineering</span></a></li>
          <li><a href="" title="Science" class="foot-link text-white text-decoration-none"><span>Science</span> </a></li>
          <li> <a href="" title="Arts" class="foot-link text-white text-decoration-none"><span>Arts</span></a></li>
          <li> <a href="" title="Pharmacy" class="foot-link text-white text-decoration-none"><span>Pharmacy</span></a></li>
          <li> <a href="" title="Dentistry" class="foot-link text-white text-decoration-none"><span>Dentistry</span></a></li>
          <li> <a href="" title="Medicine" class="foot-link text-white text-decoration-none"><span>Medicine</span></a></li>
  
  
      </ul>
  
  </div>
  <div class="col-footer col-12 col-md-4 text-white ">
    <h3 class="foot-title dropdow-mb foot-link"><span >Info</span></h3>
      <p class="foot-link mb-0">2113 Horreya Avenue</p>
    <p class=" foot-link">Alexandria</p>
    <p class=" foot-link">Call us at: 0120000999</p>
  
    </div>
  
  
              </div>
  
          </div>
      </div>
  
  
      <hr size="4" color="white">
      <div class="footer-bottom">
          <div class="container">
  
              <div class="row justify-content-md-between line-top">
  
  
  
  
                  <div class="col-12 col-md-4 col-lg-6">
                      <div class="footer-social text-left text-white">
                          <div class="groups-block">
  
  
  
    <!-- <ul class="social-icons">
  
    <li class="facebook">
      <a href="https://www.facebook.com/AnwarPharmacies/" title="Facebook" target="_blank">
          <i class="fa fa-facebook-square fa-lg" aria-hidden="true"></i>
      </a>
    </li>
    <li class="instagram">
      <a href="https://www.instagram.com/anwarpharmacy" title="Instagram" target="_blank">
        <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
      </a>
    </li>
    </ul> -->
  
                          </div>
                      </div>
                  </div>
  
              </div>
  
  
  
              <div class="row">
                  <div class="col-12">
  
                      <address class="text-center text-white">
  
                          <div style="color: lightgrey;">
  
                            <h6>© 2020 E-commerace. All Rights Reserved.</h6>
                          </div>
  
                      </address>
                      <ul class="payment-methods text-center">
                        <li class="me-3" style="display: inline-block;"><img data-src="//cdn.shopify.com/s/files/1/0438/9185/1432/files/mobile-receipt-visa_x300.png?v=1613691877" alt="visa" class="lazyautosizes ls-is-cached lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="37px" src="//cdn.shopify.com/s/files/1/0438/9185/1432/files/mobile-receipt-visa_x300.png?v=1613691877"></li>
    <li style="display: inline-block;"><img data-src="//cdn.shopify.com/s/files/1/0438/9185/1432/files/mobile-receipt-mastercard_x300.png?v=1613691877" alt="master" class="lazyautosizes ls-is-cached lazyloaded" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-sizes="auto" data-image="" sizes="54px" src="//cdn.shopify.com/s/files/1/0438/9185/1432/files/mobile-receipt-mastercard_x300.png?v=1613691877"></li>
                      </ul>
  
                  </div>
              </div>
          </div>
      </div>
  
    </footer>
  
  </div>